
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

#showcase {
    background-image: url('../imgs/johannes-ludwig-8dejZGw3Hec-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.sticky {
    background-color: black;
    opacity: 0.8;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition-duration: 1.5s;
}

.sticky + .content {
    padding-top: 50px;
}



.navbar li {
    list-style: none;
    margin: 0.5em 0.9em;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
}

.navbar a:hover {
    border-bottom: 2px solid #4169e1;
    padding: 0.2rem;
}

.top-left {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.intro-text {
    color: #FFF;
}

.intro-text h1 {
    font-size: 36px;
    text-align: center;
    letter-spacing: 32px;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.intro-text p {
    font-size: 20px;
    text-align: center;
    letter-spacing: 8px;
    text-shadow: 2px 2px black;
}

#about {
    text-align: center;
}

.about-top {
    margin-top: 10rem;
}

.about-top h2 {
    text-transform: uppercase;
}

.about-middle p {
    margin: 2.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
    color: #333333;
}

.about-bottom h3 {
    text-transform: uppercase;
    margin: 2.5rem;
}

.about-bottom p {
    letter-spacing: 0.1rem;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.75rem;
}

.fa-html5 {
    color: #e44d26;
}

.fa-css3-alt {
    color: #1471b6;
}

.fa-js-square {
    color: #f0da4f;
}


.smile-face {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#projects,
#contact {
    margin-top: 75px;
}

#projects > p {
    text-align: center;
}

#projects h2,
#contact h2 {
    text-align: center;
}

#contact {
    margin-bottom: 75px;
}

.main-form {
    max-width: 726px;
    margin: 0 auto;
}

#contact h2 {
    margin-bottom: 1.5rem;
}

#contact > label {
    padding-left: 1.5rem;
}

  

footer {
    background-color: black;
    padding: 10px;
}

footer p {
    color: white;
    text-align: center;
}

hr {
    width: 33%;
    margin-top: 6rem;
}

.social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links li {
    list-style: none;
    margin-right: 1.5rem;
}

.social-links li a {
    text-decoration: none;
    color: black;
}

.fa-linkedin,
.fa-github {
    color: white;
}

.card-row {
    max-width: 1260px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}



.card-container {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    margin: 0 10px;
}

.card-container:hover .custom-card{
    transform: rotateY(180deg);
}

.custom-card {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.card-row {
    margin-top: 4rem;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
    backface-visibility: hidden;
    color: red;
    text-align: center;
}

.front img {
    width: 100%;
    height: 80%;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
}


@media only screen and (max-width: 900px) {
    .intro-text h1 {
        letter-spacing: 25px;
    }
}



@media only screen and (max-width: 720px) {
    .intro-text h1 {
        font-size: 33px;
        letter-spacing: 20px; 
    }
}

@media only screen and (max-width: 653px) {
    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .card-container {
        margin-bottom: 30px;
    }

    .navbar {
        justify-content: center;
    }

    .form-group > label {
        text-align: left;
    }

    .intro-text h1 {
        letter-spacing: 15px;
        font-size: 31px;
    }

    .intro-text p {
        font-size: 17px;
        letter-spacing: 6px;
    }

}



@media only screen and (max-width: 520px) {
    .intro-text h1 {
        font-size: 26px;
        letter-spacing: 10px;
    }

    .intro-text p {
        font-size: 15px;
        letter-spacing: 5px;
    }
}

@media only screen and (max-width: 480px) {
    #showcase {
        background-attachment: scroll;
    }
}


    
