

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#showcase {
    background-image: url('../imgs/johannes-ludwig-8dejZGw3Hec-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.sticky {
    background-color: black;
    opacity: 0.8;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition-duration: 1.5s;
}

.sticky + .content {
    padding-top: 50px;
}



.navbar li {
    list-style: none;
    margin: 0.5em 0.9em;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
}

.navbar a:hover {
    border-bottom: 2px solid #4169e1;
    padding: 0.2rem;
}

.top-left {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.intro-text {
    color: #FFF;
}

.intro-text h1 {
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1.5rem;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}

.intro-text p {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px black;
}

#about {
    text-align: center;
}

.about-top {
    margin-top: 10rem;
}

.about-top h2 {
    text-transform: uppercase;
}

.about-middle p {
    font-size: 20px;
    margin: 2.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
    color: #333333;
}

.about-bottom h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 2.5rem;
}



.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.75rem;
}

.smile-face {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#projects {
    margin-top: 4rem;
}

#contact {
    margin-top: 4rem;
    background-color: yellow;
}

footer {
    background-color: lightslategray;
    padding: 10px;
}



.social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links li {
    list-style: none;
   
}

.social-links li a {
    text-decoration: none;
    color: black;
}

.card-row {
    display: flex;
    justify-content: center;
}

.card-container {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
    backface-visibility: hidden;
    color: red;
    text-align: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    backface-visibility: hidden;
    color: #fff;
    text-align: center;
    transform: rotateY(180deg);
}



